<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>HBS</title>
  </head>
  <body>


    
            <h1>Vista de Productos EJS</h1>
            <br>
    {{#if prodExist}}
      <div class="table-responsive">
                    <table class="table table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Foto</th>
                        </tr>
        {{#each products}}
        <tr>
          
          <td>{{title}}</td>
          <td>{{price}}</td>
          <td><img src="{{thumbnail}}" alt="" /></td>
          </tr>
        {{/each}}
        </table>
                </div>
     

      
<br>
                        <a href="/" type="button" class="btn btn-primary">Cargar un nuevo producto</a>

    {{else}}

      <h2>No se encontraron productos</h2>

    {{/if}}
 

  </body>
</html>